---
import Layout from "../layouts/Layout.astro";
import TeamAbout from "../components/about/team";
---

<Layout title="About Us">
    <main>
        <TeamAbout client:only="react" />
    </main>
</Layout>
