---
import Layout from "../layouts/Layout.astro";
import Header from "../components/home/Header";
import Feature from "../components/home/Feature";

import StudentCentric from "../components/home/StudentCentric";
import SmartAndStructured from "../components/home/SmartAndStructured";
import SafeAndDirect from "../components/home/SafeAndDirect";
import RelevantAndOrganized from "../components/home/RelevantAndOrganized";

import GitHub from "../components/home/GitHub";
import Footer from "../components/home/Footer";
---

<Layout title="Segunda">
    <main>
        <Header client:only="react" />
        <Feature client:only="react" />

        <div class="mt-10 lg:mt-20 flex flex-col gap-16">
            <StudentCentric client:only="react" />
            <SmartAndStructured client:only="react" />
            <SafeAndDirect client:only="react" />
            <RelevantAndOrganized client:only="react" />
        </div>

        <GitHub client:only="react" />
        <Footer client:only="react" />
    </main>
</Layout>
