---
import Layout from "../layouts/Layout.astro";
import HeaderPresentation from "../components/presentation/header";
import FeaturePresentation from "../components/presentation/feature";
import DevFreePresentation from "../components/presentation/developerFree";
import PalettePresentationFree from "../components/presentation/palette";
import CodePresentation from "../components/presentation/code";
import PagesFreePresentation from "../components/presentation/pagesFree";
import GithubPresentation from "../components/presentation/github";
import PricingPresentation from "../components/presentation/pricing";
import FooterFreePresentation from "../components/presentation/footerFree";
---

<Layout title="Segunda">
    <main>
        <HeaderPresentation client:only="react" />
        <FeaturePresentation client:only="react" />
        <DevFreePresentation client:only="react" />
        <PalettePresentationFree client:only="react" />
        <CodePresentation client:only="react" />
        <GithubPresentation client:only="react" />
        <FooterFreePresentation client:only="react" />
    </main>
</Layout>
